<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnityInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnityInterface.Properties.Settings>
            <setting name="UnityIP" serializeAs="String">
                <value>192.168.1.127</value>
            </setting>
            <setting name="UnityPORT" serializeAs="String">
                <value>5300</value>
            </setting>
        </UnityInterface.Properties.Settings>
    </applicationSettings>
</configuration>